<html>
<head>
  <title></title>
</head>
<body>
  <p>Hi,<br><br>
    For reset password: <a href="http://service.xson.pro:3642/forgetpassword_validate/{{ code }}">Click here.</a>
    This link will be valid for 10 minutes only.
  </p>
</body>
</html>
