<html>
<head>
  <title></title>
</head>
<body>
  <p>Hi,<br><br>
    Thank you for buying the product<br>
    If you want to be a registered user and register your device click the following link to login for the first time:<br><br>
    <a href="http://service.xson.pro:3642/login_validate/{{ id }}/{{ hash_pass }}">Click here to first time login.</a>
    <br><br>
    Enjoy the power of Xbrain!
  </p>
</body>
</html>
