<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if signatures %}
            <ul>
                {% for signature in signatures %}
                    <li><a href="{{ signature.docfile.url }}">{{ signature.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No signature.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "uploadsignature" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
